:root {
    --header-color: #328f84;
--lis1-color: #a1d0cd;
--list2-color: #9ed2cd;
--list3-color: #e8e7e2;
--list4-color: #d4e8e6;
--list5-color: #ededed;
--container-color: #eeddf7;
}

:root {
    --primary-color: #3498db;
    --background-color: #f5f5f5;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
}